<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.learn.listener.TestListener"></listener>
    </listeners>
    <test parallel="methods" thread-count="2" name="FrameworkSelenium">
        <classes>
<!--            <class name="com.learn.test.LoginTest"/>-->
            <class name="com.learn.test.LaunchTest"/>
            <class name="com.learn.test.HomeTest"/>

        </classes>
    </test>
</suite>